@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
   
    background: url('../images/bg-desktop.svg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    
    
    display: grid;
    grid-template-areas: "cabeca cabeca"
                          "corpo corpo"
                          "pe pe";

    font-family: var(--font-corpo); 
    background-color: var(--cor1);
    
    

    
    
                        

                         
    
}


header {

    grid-area: cabeca;
    margin: 30px 40px;
    

}


main {
    grid-area: corpo;
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;

    
   
    
    
}

main .container-img {
    display: flex;
    text-align: center;
}
main .container-img img {
    max-width: 100%;
    
    margin-left: 40px;
    
    
    
}

main .container-info {
    max-width: 100%;
    padding: 30px;
    margin: 20px 0 50px;
    
    
}

main .container-info h2 {
    color: white;
    font-family: var( --font-cabecalho);
    font-size: 50px;
    line-height: 80px;
    margin-bottom: 20px;
}

main .container-info p {
    color: white;
    font-size: 20px;
    line-height: 30px;
   
}

main .container-info .btn{
    
    border-radius: 80px;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 3px 5px 5px rgba(5, 0, 0, 0.3);
    
   
   

}
main .container-info .btn a{
    margin: 10px 40px;
    color: var(--cor1);

    
   
   

}

main .container-info .btn:hover{
    
    background-color: var(--cor2);

    
   
   

}

main .container-info .btn:hover a {
    color: white;
}




footer {
    grid-area: pe;
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
    gap: 20px;
    padding: 35px 15px;
   
    

    
}

footer .social {
    display: flex;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid white;
   

   
   
    
}




footer .social a .icon {
    color: white;
    width: 30px;
   height: 20px;
   text-align: center;
   
}

footer .social:hover {
    border: 1px solid var(--cor2);
    
}

footer .social:hover .icon {
    color: var(--cor2);
}



